/* Color Pallete */
:root {
    --champagne: #f1e0c5;
    --khaki: #c9b79c;
    --chinese-violet: #635973;
    --bistre: #342a21;
    --wisteria: #bea7e5;
    --floralwhite: #fbf6ef;
}

/* Global Styles */

body {
    background-color: var(--wisteria);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bistre);
    font-family: "Sitony", sans-serif;
}

p {
    color: var(--bistre);
    font-family: "Cabin", sans-serif;
}

.word-shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.header-font {
    font-family: "Sitony", sans-serif;
}

.para-font {
    font-family: "Cabin", sans-serif;
}

.underline {
    text-decoration: underline;
}

/* Navbar */
.navbar {
    background-color: var(--champagne) !important;
    padding: 0 0;
}

.nav-color {
    color: var(--bistre);
}

.nav-bold {
    font-weight: bold;
}
/* Hero Section */
.hero-section {
    position: relative;
}
.hero-section .text-shadow {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.mentalhero-img {
    width: 506px;
    height: 326px;
}

/* Find Help Section */
.find-help-list-group {
    background-color: var(--champagne);
    color: var(--bistre);
    border-radius: 0.5rem;
    padding: 1rem;
}

.find-help-list-group .list-group-item {
    background-color: transparent;
    color: var(--bistre);
    border: none;
}

.find-help-list-group .small.text-muted {
    color: var(--bistre) !important;
    opacity: 0.7;
}

.find-help-text {
    background-color: var(--chinese-violet);
    color: var(--bistre);
    border-radius: 0.5rem;
    padding: 1rem;
}

.find-help-text-light {
    color: var(--floralwhite);
}

.find-help-btn {
    background-color: var(--chinese-violet);
    color: var(--floralwhite);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    min-width: 120px;
    text-align: left;
}

.find-help-btn:hover {
    background-color: var(--wisteria);
    color: var(--bistre);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
}
/* Footer */

footer {
    background-color: var(--champagne) !important;
}

.footer-color {
    color: var(--bistre);
}
