/* Color Pallete */
:root {
    --champagne: #f1e0c5;
    --khaki: #c9b79c;
    --chinese-violet: #7b6d8d;
    --bistre: #342a21;
    --wisteria: #bea7e5;
}

/* Global Styles */

body {
    background-color: var(--wisteria);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bistre);
    font-family: "Sitony", sans-serif;
}

p {
    color: var(--bistre);
    font-family: "Cabin", sans-serif;
}

.word-shadow {
    text-shadow: 2px 2px 8px rgba(0,0,0,0.25);
}

.header-font {
    font-family: "Sitony", sans-serif;
}

.para-font {
    font-family: "Cabin", sans-serif;
}

/* Navbar */
.navbar {
    background-color: var(--champagne) !important;
    padding: 0 0;
}

.nav-color {
    color: var(--bistre);
}

.nav-bold {
    font-weight: bold;
}
/* Hero Section */
.hero-section {
    position: relative;
}
.hero-section .text-shadow {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}


.mentalhero-img {
    width: 506px ;
    height: 326px;
}

/* Footer */

footer {
    background-color: var(--champagne) !important;
}

.footer-color {
    color: var(--bistre);
}

